:root {
    --not-white: #fffaf3;
    --drk-white: #f2e9e1;
    --not-black: #191724;
    --not-red:   #eb6f92;
    --not-blue:  #34495e;
    --not-green: #1abc9c;
    --not-grey:  #2c3e50;
    --muted:     #6e6a86;
    --hdr-hght:  5rem;
    --lrg-txt:   2rem;
    --sml-txt:  1.5rem;
  }

html {
    background-color:#2c3e50;
}

button {
    border-radius: 8px;
    background-color: white;
    border: solid var(--not-grey);
}

label {
    font-family: 'Roboto Slab', serif;
    margin-right: 10px;
    color: white;
}

#buttons {
 display: flex;
 flex-direction: column;
 align-content:space-between;
}

#submit-button,
 #add-course-field,
  #remove-course-field,
   #save-button {
    padding: 5px;
    margin:5px;
}

#submit-button:hover,
 #add-course-field:hover,
  #remove-course-field:hover,
   #save-button:hover {
    border: solid var(--not-green);
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    top: 0%;
    font-size: var(--lrg-txt);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--not-black);
}

h3 {
    text-align: center;
    color: white;
}


#usernamearea {
    display: flex;
    flex-direction: column;
}

#gradesarea {
    align-self: center;
    width: 450px;
    padding: 40px;
    background: var(--not-blue);
    box-sizing: border-box;
    border-radius: 10px;
    height: fit-content;
}

ul {
    padding:0px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--sml-txt);
}

.textBox label {
    padding-top: 30px;
    color: var(--not-black);
}


nav {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    margin-bottom: 20px;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: var(--sml-txt);
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 1rem;
}


.nav-list * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-list li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.nav-list a {
    padding: 0.3em 0;
    color: white;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.nav-list a:before,
.nav-list a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: var(--not-green);
    width: 0;
}

.nav-list a:before {
    top: 0;
    left: 0;
 }
 
.nav-list a:after {
    bottom: 0;
    right: 0;
 }

.nav-list a:hover {
    color: #ffffff;
}

.nav-list a:hover:before,
.nav-list a:hover:after {
    width: 100%;
}


.login-area {
    align-self: center;
    width: fit-content;
    padding: 40px;
    background: var(--not-blue);
    box-sizing: border-box;
    border-radius: 10px;
    width: 450px;
    height: 350px;
}

.form-group {
    margin: 15px;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.form-control {
    margin: auto;
}

.btn {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    padding: 14px 40px;
}

#submit-btn {
    display: flex;
    justify-content: center;
}
  
.btn:hover {
    border: solid var(--not-green);
    /* color: white; */
}

.course-grade-area {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}

.gradesarea-headings {
    display: flex;
    justify-content: space-around;
}

.gpa-area {
    background-color: white;
    border: solid #2c3e50;
    border-radius: 6px;
    margin-top: 15px;
}

.gpa-area p, .gpa-area h3 {
    color: #191724;
    text-align: center;
}

.register-area {
    align-self: center;
    width: 450px;
    padding: 40px;
    background: var(--not-blue);
    box-sizing: border-box;
    border-radius: 10px;
}

.saved-grades {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: fit-content;
    padding: 40px;
    background: var(--not-blue);
    box-sizing: border-box;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
}

.grades-list {
    background-color: white;
    border: solid #2c3e50;
    border-radius: 6px;
    margin-top: 15px;
}

.grades-list li,
.grades-list p,
.grades-list h3 {
    color: var(--not-black);
}

#courses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

#grades {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.saved-grades a {
    color:white;
}

#register-link a {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}

#register-link {
    display: flex;
    justify-content: center;
}

.gradeslistarea {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

#delete-button, #edit-button {
    border-radius: 0%;
    border: 1px solid rgba(255,255,255,.5);
    text-decoration: underline;
    font-weight: bold;
}