{% extends "base.html" %}
{% block title %}GPA Calculator{% endblock %}

{% block content %}
<!-- <h1 style="text-align: center;">My grades</h1> -->
<div id='gradesarea'>
    <h1>Edit Grades</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}

        <h3>Term</h3>
        <p>
        {{ form.term(value=currentterm) }}
        </p>
        <div class="gradesarea-headings">
            <h3>Courses</h3>
            <h3>Grades</h3>
        </div>

        <section class="course-grade-area">

            <ul id="courses">
            {% for i in courses %}
            {% set course = courses[loop.index-1] %}
            {% set grade = grades[loop.index-1] %}

            <li>
            <label for="courses"></label>
            <input id="courses-{{courses.index(course)}}" name="courses-{{courses.index(course)}}" type="text" value={{course}}>
            </li>
            {% endfor %}
            </ul>
            <ul id="grades">
                {% for i in courses %}
                {% set course = courses[loop.index-1] %}
                {% set grade = grades[loop.index-1] %}
            <li>
            <label for="grades"></label>
            <input id="grades-{{courses.index(course)}}" name="grades-{{courses.index(course)}}" type="number" value={{grade}}>
            </li>
            {% endfor %}
        </ul>
        </section>
        <div id='buttons'>
                <button id='submit-button' name="submit_button" type="submit", value="Read">Calculate GPA</button>
                <button id='add-course-field' type="button">Add course</button>
                <button id='remove-course-field' type="button">Remove course</button>
                <button id='save-button' name="submit_button" type="submit" value="Write">Save grades</button>
        </div>


        <div class="gpa-area">
            <form method="POST" action="">
                <h3>GPA</h3>
                {{ form.csrf_token }}
                <p>{{ gpa }}</p>
                <!-- {%for course in courses%}
                <li>{{ course }}</li>
                {%endfor%}
                {%for grade in grades%}
                <li>{{ grade }}</li>
                {%endfor%} -->
            </form>
        </div>
        
</div>
</body>
</html>

{% endblock %}