{% extends "base.html" %}
{% block title %}GPA Calculator{% endblock %}

{% block content %}
<!-- <h1 style="text-align: center;">My grades</h1> -->
   
<div id='gradesarea'>
    <h1>My Grades</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}

        <h3>Term</h3>
        <p>{{ form.term() }}</p>
        <div class="gradesarea-headings">
            <h3>Courses</h3>
            <h3>Grades</h3>
        </div>

        <section class="course-grade-area">
            <!-- <h3>Grades List</h3> -->
            <!-- {{ form.grades.label }} -->

            {{ form.courses() }}
            {{ form.grades() }}
        </section>

        <div id= 'buttons'>
            <button id='submit-button' name="submit_button" type="submit", value="Read">Calculate GPA</button>
            <button id='add-course-field' type="button">Add course</button>
            <button id='remove-course-field' type="button">Remove course</button>
            {% if email  %}
            <button id='save-button' name="submit_button" type="submit" value="Write">Save grades</button>
            {% endif %}
        </div>
    </form>


    <div class="gpa-area">
        <form method="POST" action="">
            <h3>GPA</h3>
            {{ form.csrf_token }}
            <p>{{ gpa }}</p>
            <!-- {%for course in courses%}
            <li>{{ course }}</li>
            {%endfor%}
            {%for grade in grades%}
            <li>{{ grade }}</li>
            {%endfor%} -->
        </form>
    </div>
        
</div>
</body>
</html>

{% endblock %}