<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>GPA Calculator - Desig9 by Deadline</title>
</head>
<body>
    <div id="myData"></div>
    <script type="text/javascript">
        var data = 
                        {"school" : [
                            {   
                                "BCIT" : 
                                    {
                                        "A01294098": {
                                            "firstName": "Luke",
                                            "lastName": "Birol",
                                            "courses" :[
                                                {
                                                    "courseName":"ACIT 1515", 
                                                    "grade" : 100
                                                },
                                                {
                                                    "courseName":"ACIT 2515",
                                                    "grade" : 100
                                                }
                                            ]
                                        },
                                        "A00000000": {
                                            "firstName": "No",
                                        "lastName": "Name",
                                        "courses" :[
                                                {
                                                    "courseName":"ACIT 1515", 
                                                    "grade" : 0
                                                },
                                                {
                                                    "courseName":"ACIT 2515",
                                                    "grade" : 0
                                                }
                                            ]
                                        }
                                    }
                            }     
                        ]}
            datazero = data.school
            bcitStudents=datazero[0]['BCIT']
            console.log(bcitStudents)
            console.log(bcitStudents.A00000000)
            console.log(bcitStudents.A00000000.firstName)
            
            function appendData(data) {
                parseData(data, 'firstName')
                parseData(data, 'lastName')
            }

            function parseData(data, id) {
                let mainContainer = document.getElementById("myData");
                let div = document.createElement("div");
                div.innerHTML = `${id}: ` + data[id];
                mainContainer.appendChild(div);
            }

            appendData(bcitStudents.A00000000)
    </script>
</body>
</html>