<!-- templates/homepage.html  -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/style.css">
        <title>GPA Demo - Desig9 by Deadline</title>
    </head>
<body align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
        <h1 style="text-align: center;">Hello World!</h1>