<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>GPA Calculator - Design9 by Deadline</title>
</head>
<body>
    <h1>GPA Calculator</h1>
    <div class="textBox">
        <!-- Text box for School -->
        <label for="schoolName">School:</label>
        <input type="text" id="schoolName" name="schoolName"> 

        <!-- Text box for Student Number -->
        <label for="studentNumber">Student Number:</label>
        <input type="text" id="studentNumber" name="studentNumber"> 
    </div>
    <footer>Created by Design9 by Deadline</footer>
</body>

</html>