
{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}


<div class="saved-grades"> 
    <p>Hello {{name}}! You have Logged in as {{ email }}</p>
    <a class="nav-item nav-link" href="/edit/{{id}}">edit account</a>

    <h1>Grades List</h1>
    <li>

    <section class="grades-list">
        {% for dict_item in parent_list %}
            <p>Term: {{dict_item['term']}}</p>
                <h3>grades</h3>
            {% for key, value in dict_item['grades'].items() %}
            <p> {{key}} : {{value}}</p>
         {% endfor %}
         <form action="/remove/{{ dict_item['_id'] }}" method="post">
            <button id='delete-button' name="delete_button" type="submit">Delete</button>
         </form>
        {% endfor %}
    </section>
</div>
{% endblock %}
