<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title of the page -->
    <title>GPA Calculator - Desig9 by Deadline</title>
</head>
<body>
    <!-- can bring in student number from previous page so no need to type again -->

    <!-- Text box for firstName -->
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName"> 

    <!-- Text box for lastName -->
    <label for="lastName">Last name:</label>
    <input type="text" id="firstName" name="firstName"> 

    <!-- Text box for courseName -->
    <label for="courseName">Course:</label>
    <input type="text" id="courseName" name="courseName"> 

    <!-- Text box for grade-->
    <label for="grade">Grade:</label>
    <input type="text" id="grade" name="grade"> 
</body>
</html>